     Hello Hamoye Team,
     My name is Goodluck Olawale, an intern with Hamoye, and this is my code for the different questions in the quiz for stage B. Please your feebacks or comments would be very much appreciated.

# 1

In [1]:
#Guassian Prior

# 2

In [2]:
#is guaranteed to prevent overfitting

# 3

In [3]:
#Is more sensitive ot outliers than ordinary least square

# 4

In [4]:
#variance

 # 5

In [5]:
#Least Square Error

# 6

In [6]:
#linear regression is sensitive to outliers

# 7

In [7]:
#1

# 8

In [8]:
#decreases model bias

# 9

In [9]:
#the model is performing with 75% accuracy

# 10

In [10]:
#When weights are regularised with the L1 norm

# 11

In [11]:
#Heteroscedaity

# 12

In [12]:
#IMPORTING THE NECESSARY LIBRARIES
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
df=pd.read_csv(r'C:\Users\User\Desktop\DSC\HAMOYE\level B\energydata_complete.csv')
#df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [14]:
#to drop the date and lights column as stated in the dataset description
df=df.drop(['date','lights'],axis=1)

In [15]:
feature=np.array(df[['T2']])
target=np.array(df['T6'])

In [16]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(feature,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
r2=model.score(feature,target)
print('r2_score = ',r2.round(2))

r2_score =  0.64

# 13, 14, 15, 16

In [28]:
#to divide the dataset features(predictor) and labels(predicted)
x=df.drop('Appliances',axis=1)
y=df['Appliances']

#SCALING THE DATASET USING MinMax SCALER
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
normalised_df=scaler.fit_transform(df)

#to convert scaled dataset into a pandas dataframe
df=pd.DataFrame(normalised_df,columns=df.columns)

#to divide datset into train and testing data
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=42)

#import the linear model
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtrain,ytrain)

#to predict the test set
predicted_values=model.predict(xtest)

In [38]:
#MEASURE OF PERFORMANCE
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
mae=mean_absolute_error(ytest,predicted_values)
rss=np.sum(np.square(ytest-predicted_values))
r2_score=r2_score(ytest,predicted_values)
rmse=np.sqrt(mean_squared_error(ytest,predicted_values))
print('mae = ', mae.round(2))
print('rss =', rss.round(2))
print('rmse =',rmse.round(3))
print('r2_score =', r2_score.round(2))

mae =  0.05
rss = 45.35
rmse = 0.088
r2_score = 0.15

# 17

In [30]:
pd.DataFrame(zip(x.columns,model.coef_),columns=['Features','Coefficients']).sort_values(by='Coefficients')

       Features  Coefficients
3          RH_2     -0.456698
18        T_out     -0.321860
2            T2     -0.236178
16           T9     -0.189941
15         RH_8     -0.157595
20       RH_out     -0.077671
13         RH_7     -0.044614
17         RH_9     -0.039800
8            T5     -0.015657
0            T1     -0.003281
24          rv1      0.000770
25          rv2      0.000770
19  Press_mm_hg      0.006839
12           T7      0.010319
22   Visibility      0.012307
9          RH_5      0.016006
7          RH_4      0.026386
6            T4      0.028981
21    Windspeed      0.029183
11         RH_6      0.038049
5          RH_3      0.096048
14           T8      0.101995
23    Tdewpoint      0.117758
10           T6      0.236425
4            T3      0.290627
1          RH_1      0.553547

    RH_1 & RH_2

# 18

In [31]:
#Using Ridge regreession
from sklearn.linear_model import Ridge
regr=Ridge(alpha=0.4)
regr.fit(xtrain,ytrain)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [32]:
ridge_predict=regr.predict(xtest)

In [33]:
rmse=np.sqrt(mean_squared_error(ytest,ridge_predict))
print('rmse =',rmse.round(3))

rmse = 0.088

                        NO CHANGE

# 19

In [34]:
#Using Ridge regreession
from sklearn.linear_model import Lasso
regr=Lasso(alpha=0.001)
regr.fit(xtrain,ytrain)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [35]:
lasso_predict=regr.predict(xtest)

In [36]:
len(regr.coef_[regr.coef_ !=0])

4

# 20

In [37]:
rmse=np.sqrt(mean_squared_error(ytest,lasso_predict))
print('rmse =',rmse.round(3))

rmse = 0.094

# THANKS